.inputBar{
     width:0;
     transition: 0.5s;
     
}



.inputBarActive{
     margin-top: 52px;
     width: 24rem;
     transition: 0.5s;
     border:2px solid rgba(86, 204, 106, 1);
     border-radius: 50px;
     padding-left: 10px;
     outline: none;
     font-family: 'Lexend Deca';
}

@media screen and (min-width:768px) {
     .inputBarActive{
          margin-top: 0;
     }
}

.headingAndToggleContainer{
     display: flex;
     flex-direction: row;
     width: 100%;
     justify-content: space-between;
     padding-right: 2rem;
     padding-left: 2rem;
}

@media screen and (min-width:768px) {
     .headingAndToggleContainer{
          padding-left: 0;
     }
}